*{
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
h1{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
img{
    width: 250px;
    height: 250px;
}